@tailwind base;
@tailwind components;
@tailwind utilities;

:root { --ar-primary: #6C63FF; }
body { font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; }
.dark body { background: #0b1220; }
